/* ## TABLE OF CONTENTS ## 
01. ELEMENT STYLES
02. CLASS STYLES
03. ID STYLES
04. MEDIA QUERIES */

/* ## ELEMENT STYLES ## */
body {
  background: url("../images/ignasi_pattern_s.png");
}
form {
  padding: 30px;
}
footer {
    background-color: grey;
    height: 70px;
    border-top: solid 10px #17a2b8;
    position: fixed;
    left: 0;
    bottom: 0;
}

/* ## CLASS STYLES ## */
.container {
  margin: 65px 0 0 55px;
  background: #fff;
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.row {
  margin-bottom: 100px;
}
.navbar-brand {
  padding: 5px;
}
a.navbar-brand {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #fff;
  font-size: 50px;
  font-weight: bold;
}
.content-img {
  margin: 25px;
  float: none;
  border: solid 1px #ccc;
  padding: 5px;
  max-width: 350px;
  filter: grayscale(1);
}
.content-title {
  font-size: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 900;
  padding: 50px 0 0 30px;
}


/* ## ID styles ## */
#about {
  margin-bottom: 50px;
}